<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sell_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sell_amount" data-rule="required" class="form-control" step="0.01" name="row[sell_amount]" type="number" value="{$row.sell_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reward_user_level_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-reward_user_level_id" data-rule="required" data-source="user/user_level/index" class="form-control selectpage" name="row[reward_user_level_id]" type="text" value="{$row.reward_user_level_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_user_level_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_user_level_id" data-rule="required" data-source="user/user_level/index" data-multiple="true" class="form-control selectpage" name="row[task_user_level_id]" type="text" value="{$row.task_user_level_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('所发任务要求')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_category_id" data-rule="required" data-source="task/task_category/index" class="form-control selectpage" name="row[task_category_id]" type="text" value="{$row.task_category_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_reward_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_reward_amount" data-rule="required" class="form-control" step="0.01" name="row[task_reward_amount]" type="number" value="{$row.task_reward_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_apply_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_apply_num" data-rule="required" class="form-control" name="row[task_apply_num]" type="number" value="{$row.task_apply_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('First_meal_reward')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-first_meal_reward" data-rule="required" class="form-control" step="0.01" name="row[first_meal_reward]" type="number" value="{$row.first_meal_reward|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Second_meal_reward')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-second_meal_reward" data-rule="required" class="form-control" step="0.01" name="row[second_meal_reward]" type="number" value="{$row.second_meal_reward|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Third_meal_reward')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-third_meal_reward" data-rule="required" class="form-control" step="0.01" name="row[third_meal_reward]" type="number" value="{$row.third_meal_reward|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
