<form id="set_level-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row['id']" value="{$row.id|htmlentities}">
    <div class="form-group">
        <label for="c-username" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-username" data-rule="required" readonly class="form-control" name="row[username]" type="text" value="{$row.username|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-user_level_id" class="control-label col-xs-12 col-sm-2">{:__('User_Level_Id')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-user_level_id" data-order-by="weight" data-rule="required" data-source="user/user_level/index" class="form-control selectpage" name="row[user_level_id]" type="text" value="{$row.user_level_id|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <!-- <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button> -->
        </div>
    </div>
</form>
